---
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date.astro";
import { Post, published } from "@data/post";
import Meta from "@components/Meta.astro";

export async function getStaticPaths({ rss }) {
	const posts = published(await Astro.glob("../content/**/*.{md,mdx}"));

	return posts.map((post) => {
		return {
			params: { post: post.slug },
			props: { post },
		};
	});
}

const post: Post = Astro.props.post;
const Content = post.Content;
---

<Blog title={post.title}>
	<Meta slot="meta" post={post} />
	<div class="post-header">
		<h1 class="post-title"><a href={`/${post.slug}`}>{post.title}</a></h1>
		<div class="post-date">
			<Date date={post.date} />
		</div>
	</div>
	<div class="grid content">
		<Content />
	</div>
</Blog>

<style lang="scss">
	.post-header {
		margin: 12vh auto;
		width: max-content;
		max-width: var(--container-width);
		a {
			font-size: 3.75rem;
			color: var(--text-color-alt);
		}
	}

	.post-date {
		font-size: 0.75rem;
		text-align: right;
	}

	.content {
		margin-bottom: 40px;
	}
</style>
