---
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date";
import { published, getRSS } from "@data/post"

export async function getStaticPaths({ rss }) {
	const posts = published(await Astro.fetchContent('../content/**/*.md'));

	rss(getRSS(posts));

	return posts.map((post) => {
		return {
			params: { post: post.slug },
			props: { post }
		};
	})
}

const { post } = Astro.props;
---
<Blog title={post.title}>
	<div class="post-header">
		<h1 class="post-title"><a href={`/${post.slug}`}>{post.title}</a></h1>
		<div class="post-date">
			<Date date={post.date}/>
		</div>
	</div>
	<div class="content container">
		<Fragment set:html={post.astro.html} />
	</div>
</Blog>


<style lang="scss">

	.post-header { 
		margin: 12vh auto;
		width: max-content;
		max-width: var( --container-width );
		a {
			font-size: 3.75rem;
			color: var( --text-color-alt );
		}
	}

	.post-date {
		font-size: 0.75rem;
		text-align: right;
	}

	.content {
		margin-bottom: 40px;
	}
</style>