---
	import Date from "@components/utilities/Date";
	import type { Post } from '@data/post';
	const post: Post = Astro.props.post
---

<div class="preview">
	<div class="post-title">
		<h2><a href={`/${post.slug}`}>{post.title}</a></h2>
	</div>
	<div class="post-date">
		<Date date={post.date}/>
	</div>
	<p>{post.preview}</p>

	<a class="read-more" href={`/${post.slug}`}>Read More</a>
</div>

<style lang="scss">
	.post-date { 
		font-size: .85rem;
	}

	.post-title h2 { 
		font-size: 1.4rem;
	}
	.post-title a { 
		color: var( --text-color-alt );
		text-decoration: none;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}
	}

	.read-more {
		text-decoration: none;
		font-weight: 500;
		font-size: .85rem;
		color: var( --text-color);
	}

	.preview {
		margin-bottom: 40px;
	}
</style>