---
import type { Post } from "@data/post";
const post: Post = Astro.props.post;
const date = new Date(post.date);
const humanReadableDate = date.toISOString().split("T")[0];
---

<a class="preview" href={`/${post.slug}`}>
	<div>
		<h2>{post.title}</h2>
		<p>{post.preview}</p>
	</div>
	<div class="date">
		<time datetime={date.toISOString()}>{humanReadableDate}</time>
	</div>
</a>

<style lang="scss">
	.preview {
		padding-bottom: 20px;
		border-bottom: 1px dashed var(--background-color-alt);
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:first-child {
			margin-top: 60px;
		}

		&:hover {
			h2 {
				color: var(--link-color-hover);
			}
		}
	}

	h2 {
		font-size: 1rem;
		font-weight: 500;
	}

	a {
		color: var(--text-color);
		text-decoration: none;
		display: block;
		&:hover {
			color: var(--text-color-alt);
		}
	}

	p {
		font-size: 0.8rem;
		max-width: 64ch;
	}

	b {
		font-weight: 600;
		font-size: 0.925rem;
	}
	.date {
		font-size: 0.7rem;
		min-width: 14ch;
		color: var(--text-color-soft);
		text-align: right;
	}
</style>
