---
	import Date from "@components/utilities/Date";
	import type { Post } from '@data/post';
	const post: Post = Astro.props.post
---

<div>
	<div class="post-title">
		<h2><a href={`/${post.slug}`}>{post.title}</a></h2>
	</div>
	<div class="post-date">
		<Date date={post.date}/>
	</div>
	<p>{post.preview}</p>

	<a href={`/${post.slug}`}>Read More</a>
</div>

<style lang="scss">
	.post-date { 
		font-size: .85rem;
	}

	.post-title { 
		font-size: 1.2rem;
	}
	.post-title a { 
		color: var( --text-color );
		text-decoration: none;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}
	}
</style>